<% if @question != nil %>
<%= form_for(@question) do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="reply-form">
    <h1 class="section-heading">Hace una pregunta </h1>
    <p class="text-xs-center">
      <%= @question.usuario.nombre %> <%= @question.usuario.apellido %>
    </p>

    <!--Third row-->
    <div class="row">
        <!--Image column-->
        <div class="col-sm-2 col-xs-12">
            <img src="http://mdbootstrap.com/images/avatars/img%20(3).jpg">
        </div>
        <!--/.Image column-->

        <!--Content column-->
        <div class="col-sm-10 col-xs-12">
            <div class="md-form">
                <%= f.text_area :contenido , class: 'md-textarea' %>
                <%= f.label :contenido, 'Tu pregunta' %>
            </div>

        </div>

        <div class="text-xs-center">
            <%= f.submit value: 'Preguntar' , class: 'btn btn-primary' %>
        </div>
        <!--/.Content column-->

    </div>
    <!--/.Third row-->
</div>
<% end %>
<% end %>


