<!--First row-->
<div class="row">
    <!--Image column-->
    <div class="col-sm-2 col-xs-12">
        <%= image_tag question.usuario.imagen %>
    </div>
    <!--/.Image column-->

    <!--Content column-->
    <div class="col-sm-10 col-xs-12">
        <a>
            <h5 class="user-name">
                <%= question.usuario.nombre %>
                <%= question.usuario.apellido %>
            </h5>
        </a>
        <div class="card-data text-xs-left text-xs-small">
            <ul>
                <li class="comment-date">
                    <i class="fa fa-clock-o"></i> Hace <%= time_ago_in_words question.updated_at %>
                </li>
            </ul>
        </div>

        <p class="comment-text">
            <%= question.contenido %>
            <%= render question.answer %>
        </p>
    </div>
    <!--/.Content column-->

</div>
<!--/.First row-->
