<!--First row-->
<div class="row">
    <!--Image column-->
    <div class="col-sm-2 col-xs-12">
        <%= image_tag question.usuario.imagen %>
    </div>
    <!--/.Image column-->

    <% if can? :destroy, question %>
      <%= link_to question, class:'btn-floating btn red pull-right', data: { confirm: "¿Desea eliminar la Pregunta?" },
      method: :delete do%>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>

    <!--Content column-->
    <div class="col-sm-10 col-xs-12">
        <a>
            <h5 class="user-name">
                <%= question.usuario.nombre %>
                <%= question.usuario.apellido %>
            </h5>
        </a>
        <div class="card-data text-xs-left text-xs-small">
            <ul>
                <li class="comment-date">
                    <i class="fa fa-clock-o"></i> Hace <%= time_ago_in_words question.updated_at %>
                </li>
            </ul>
        </div>

        <p class="comment-text">
            <%= question.contenido %>
            <% if question.answer!=nil %>
                <%= render question.answer %>
            <% elsif %>
                <% if usuario_signed_in? && @gauchada.usuario == current_usuario %>
                    <%= form_for @answer=Answer.new do |f| %>
                            <%= f.hidden_field :question_id, value: question.id %>
                      <div class="field">
                        <%= f.label :contenido, 'Tu respuesta' %><br>
                        <%= f.text_field :contenido, required: true %>
                      </div>
                      <div class="actions">
                      <button type="submit" class="btn btn-primary">Responder</button></div>
                <% end %>
            <% end %>
            <% end %>


        </p>
    </div>
    <!--/.Content column-->

</div>
<!--/.First row-->
