<p id="notice"><%= notice %></p>

<h1>Listing Postulacions</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postulacions.each do |postulacion| %>
      <tr>
        <td><%= postulacion.descripcion %></td>
        <td><%= postulacion.fecha %></td>
        <td><%= postulacion.estado %></td>
        <td><%= link_to 'Show', postulacion %></td>
        <td><%= link_to 'Edit', edit_postulacion_path(postulacion) %></td>
        <td><%= link_to 'Destroy', postulacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postulacion', new_postulacion_path %>
