<div class="container">
  <div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-3">
      <div class="card" id="show-postulacion">
          <div class="card-block">

              <!--Header-->
              <div class="form-header unique-color ">
                  <h3> Postulación </h3>
              </div>

              <%= form_for(@postulacion) do |f| %>
              <!--Body-->
              <div class="row">
                  <div class="col-xs-12">
                      <div class="md-form">
                          <i class="fa fa-user prefix"></i>
                          <%= f.text_field :descripcion, disabled: true,class:'form-control' %>
                          <%= f.label :descripcion, 'Descripción' %>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xs-12">
                      <div class="md-form">
                          <i class="fa fa-calendar-o prefix"></i>
                          <%= f.text_field :fecha,{ :disabled => true, :class => "form-control", value: @postulacion.fecha.to_date.to_formatted_s(:long)}  %>
                          <%= f.label :fecha, 'Fecha en que puede realizar la gauchada' %>
                      </div>
                  </div>
              </div>
          </div>

          <% end %>

          <!--Footer-->
          <div class="modal-footer">
              <div class="options">
                  <%= link_to "Volver", :root, class:'btn btn-primary' %>
              </div>
          </div>

      </div>
      <!--/Form with header-->

    </div>
  </div>
</div>
