<!--Form with header-->
<div class="container">
  <div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-3">
      <div class="card">
          <div class="card-block">

              <!--Header-->
              <div class="form-header unique-color ">
                  <h3><i class="fa fa-lock"></i> Entrar</h3>
              </div>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <!--Body-->
              <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <%= f.email_field :email, autofocus: true, class:'form-control' %>
                  <%= f.label :email, 'Tu email' %>
              </div>

              <div class="md-form">
                  <i class="fa fa-lock prefix"></i>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                  <%= f.label :password, 'Tu contraseña' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="md-form">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, 'Recordarme' %>
                </div>
              <% end %>
              <div class="text-xs-center">
                <button type="submit" class="btn btn-primary">Entrar</button>
              </div>

          </div>
          <% end %>

          <!--Footer-->
          <div class="modal-footer">
              <div class="options">
                  <%= render "usuarios/shared/links" %>
              </div>
          </div>

      </div>
      <!--/Form with header-->




      
    </div>
  </div>
</div>
