<%= form_for(@compra) do |f| %>
  <div class="md-form">
    <%= f.number_field :puntos_comprados, value:1, min:1,required:true, class: 'form-control' %>
    <%= f.label :puntos_comprados, 'Puntos a comprar' %>
  </div>
  <div class="md-form">
    <%= f.text_field :tarjeta,required:true, class: 'form-control' %>
    <%= f.label :tarjeta, 'Numero de tarjeta' %>
  </div>
  	<button type="submit" class="btn btn-warning">Comprar</button>
<% end %>
