<p id="notice"><%= notice %></p>

<p>
  <strong>Monto:</strong>
  <%= @compra.monto %>
</p>

<p>
  <strong>Puntos comprados:</strong>
  <%= @compra.puntos_comprados %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
