<div class="container">

    <div class="jumbotron">
        <h1 class="h1-responsive">Mi Perfil</h1>
        <hr class="my-2">
        <p class="lead">

          <%= form_for(@usuario) do |f| %>

          <hr class="my-2">
          <p class="lead">
              <%= link_to "Editar mi perfil", edit_usuario_registration_path,class:'btn btn-primary' %>
          </p>

          <div class="row">
              <div class="col-xs-6">
                  <div class="md-form">
                      <i class="fa fa-user prefix"></i>
                      <%= f.text_field :nombre, class:'form-control', disabled:true %>
                      <%= f.label :nombre %>
                  </div>
              </div>
              <div class="col-xs-6">
                  <div class="md-form">
                      <%= f.text_field :apellido, class:'form-control', disabled:true %>
                      <%= f.label :apellido %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="md-form">
                      <i class="fa fa-home prefix"></i>
                      <%= f.text_field :domicilio,class:'form-control', disabled:true %>
                      <%= f.label :domicilio %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="md-form">
                      <i class="fa fa-calendar prefix"></i>
                      <%= f.text_field :fecNac, class:'form-control datepicker',disabled:true %>
                      <%= f.label :fecNac, 'Fecha de nacimiento' %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="md-form">
                      <i class="fa fa-id-card prefix"></i>
                      <%= f.number_field :DNI, class:'form-control', disabled:true %>
                      <%= f.label :DNI %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="md-form">
                      <i class="fa fa-envelope prefix"></i>
                      <%= f.email_field :email, class:'form-control', disabled:true %>
                      <%= f.label :email%>
                  </div>
              </div>
          </div>

          <%end%>


        <%= link_to "Volver", :back %>
    </div>
</div>
