<div class="container">

    <div class="jumbotron">

        <h1 class="h1-responsive">
          <%= image_tag @usuario.imagen, class:'rounded-circle' %>
          Mi Perfil
        </h1>
        <hr>
        <div class="card-block">

          <%= form_for(@usuario) do |f| %>


          <p class="lead">
              <%= link_to "Editar mi perfil", edit_usuario_registration_path, class:'btn btn-primary fa fa-magic' %>
          </p>

          <a  id="mostrar-postulaciones-espera" class="btn btn-blue-grey">
            Ver mis postulaciones</a>
          <a  id="mostrar-postulaciones-aceptadas" class="btn btn-blue-grey">
            Ver mis solucitudes</a>
          <a  id="mostrar-gauchadas" class="btn btn-blue-grey">
            Ver mis gauchadas</a>

            <p> </p>
            <p> </p>

          <div id="lista-postulaciones-espera" style="display:none;"><%=render 'listado_espera'%></div>
          <div id="lista-postulaciones-aceptada" style="display:none;"><%=render 'listado_aceptado'%></div>
          <div id="lista-gauchadas" style="display:none;"><%=render 'listado_gauchadas'%></div>

          <div class="row">
              <div class="col-xs-6">
                  <div class="md-form">
                      <i class="fa fa-user prefix"></i>
                      <%= f.text_field :nombre, class:'form-control', disabled:true %>
                      <%= f.label :nombre %>
                  </div>
              </div>
              <div class="col-xs-6">
                  <div class="md-form">
                      <%= f.text_field :apellido, class:'form-control', disabled:true %>
                      <%= f.label :apellido %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-6">
                  <div class="md-form">
                      <i class="fa fa-home prefix"></i>
                      <%= f.text_field :domicilio,class:'form-control', disabled:true %>
                      <%= f.label :domicilio %>
                  </div>
              </div>
              <div class="col-xs-6">
                  <div class="md-form">
                      <i class="fa fa-heart prefix"></i>
                      <%= f.text_field :puntos,class:'form-control', disabled:true %>
                      <%= f.label :puntos %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-6">
                  <div class="md-form select-fecha">
                      <i class="fa fa-calendar prefix active"></i>
                      <div class="select-wrapper">
                        <%= f.label :fecNac, 'Fecha de nacimiento' %>
                        <%= f.date_select :fecNac, {:start_year => 1920,:end_year =>
                        (Time.now.year - 18)},{ :disabled => true, :class => "browser-default"}  %>
                      </div>
                  </div>
              </div>
              <%= form_for(@usuario.logro) do |j| %>
              <div class="col-xs-6">
                  <div class="md-form">
                      <i class="fa fa-certificate prefix"></i>
                      <%= j.text_field :titulo, class:'form-control datepicker',disabled:true  %>
                      <%= j.label :titulo, 'Título' %>
                  </div>
              </div>
              <%end%>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="md-form">
                      <i class="fa fa-id-card prefix"></i>
                      <%= f.number_field :DNI, class:'form-control', disabled:true %>
                      <%= f.label :DNI %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="md-form">
                      <i class="fa fa-envelope prefix"></i>
                      <%= f.email_field :email, class:'form-control', disabled:true %>
                      <%= f.label :email%>
                  </div>
              </div>
          </div>

          <%end%>
          </div>

          <hr>
          <div class="card-data text-xs-left pl-1 pb-1">
              <%= link_to "Volver", :back %>
          </div>
    </div>
</div>
