<%= form_for(@gauchada,:html => {:class => 'form-horizontal'}) do |f| %>
  <% if @gauchada.errors.any? %>
    <div class="bg-danger">
      <h3> Hay <%= pluralize(@gauchada.errors.count, "error","errores") %></h3>
      <p>La gauchada no puede ser guardada:</p>
      <ul>
      <% @gauchada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, required: true %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, required: true%>
  </div>
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.text_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :ciudad %><br>
    <%= f.text_field :ciudad, required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>         
<% end %>
