<%= form_for @gauchada do |f| %>
  <% if @gauchada.errors.any? %>
    <div class="bg-danger">
      <h3> Hay <%= pluralipze(@gauchada.errors.count, "error","errores") %></h3>
      <p>La gauchada no puede ser guardada:</p>
      <ul>
      <% @gauchada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="md-form">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, required: true,class:'form-control' %>
  </div>
  <div class="md-form">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, required: true,class:'md-textarea'%>
  </div>
  <div class="md-form">
    <%= f.label :imagen %><br>
    <%=  f.file_field :image %>
  </div>
  <div class="md-form">
    <%= f.label :ciudad %><br>
    <%= f.text_field :ciudad, required: true,class:'form-control' %>
  </div>
  <div class="md-form">
    <% if current_usuario.puntos < 1 %>
      <button type="submit" class="btn btn-warning" disabled="true">Guardar</button>
    <% else %>
      <button type="submit" class="btn btn-warning">Guardar</button>
    <% end %>
  </div>         
<% end %>
