
<%= render 'layouts/buscador' %>

<div class="row">
	<div class="container text-xs-center">
		<%=  render :partial=>'layouts/paginacion', :locals => {:p => @paginacion} %>
	</div>
</div>

<div class="row">
	<% @gauchadas.each_with_index do |gauchada,index| %>
	<div class="col-xs-12 col-sm-4">
		<div class="row">
			<div class="col-xs-10 offset-xs-1">
				<div class="card">
				    <!--Card image-->
				    <% if gauchada.image_url != nil %>
					    <div class="view overlay hm-white-slight">
					        <%= image_tag(gauchada.image_url, :width=>450,  :crop=>"scale", :align=> "center", :radius=>10)%>
					        <a href="#">
					            <div class="mask"></div>
					        </a>
					    </div>
				    <% end %>
				    <!--/.Card image-->

				    <!--Card content-->
				    <div class="card-block">
				        <!--Title-->
				        <h4 class="card-title">
				        	<%= link_to gauchada.titulo, gauchada %>
				        		
				        </h4>
				        <!--Text-->
				        <p class="card-text">
				        	<%= gauchada.descripcion %>
				        </p>
						<div class="chip">
							<%= image_tag gauchada.usuario.imagen %>
				       		<%= gauchada.usuario.nombre %>
							<%= gauchada.usuario.apellido%>
						</div>
				        <p class="card-text text-xs-right font-italic text-muted">
				       		<%= gauchada.ciudad%>
				       	</p>

						<%= link_to 'Detalles', gauchada,class:'btn btn-orange' %>
				    </div>
			    	<!--/.Card content-->
				</div>
			</div>
		</div>
	</div>
	<% if (index+1) % 3 == 0 %>
		<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
	<% end %>
	<% end %>
</div>
<% if @gauchadas.size == 0 %>
	<div class="row">
		<div class="container text-xs-center">
			<p class="lead">
				No hay gauchadas que cumplan con esa búsqueda
			</p>
		</div>
	</div>	 
<% end %>
