<p id="notice"><%= notice %></p>

<h1>Listing Gauchadas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gauchadas.each do |gauchada| %>
      <tr>
        <td><%= gauchada.titulo %></td>
        <td><%= gauchada.descripcion %></td>
        <td><%= gauchada.imagen %></td>
        <td><%= gauchada.ciudad %></td>
        <td><%= link_to 'Show', gauchada %></td>
        <td><%= link_to 'Edit', edit_gauchada_path(gauchada) %></td>
        <td><%= link_to 'Destroy', gauchada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gauchada', new_gauchada_path %>
