<div class="row">
	<div class= "gauchada col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
		<div class="imagen"><% if @gauchada.imagen != nil %>
			<%= cl_image_tag(@gauchada.imagen, :radius=>10, :width=>343, :crop=>"scale", :align=> "center")%>
		<% end %>
		</div>
		<h2> <%= @gauchada.titulo %> </h2> 
		<b><p class="usuario"> <%= @gauchada.usuario.nombre %>
		<%= @gauchada.usuario.apellido%> </b> 
		<%= link_to "Eliminar", @gauchada, method: :delete, class: 'btn btn-danger btn-xs pull-right'  %>
		<%= link_to "Editar", edit_gauchada_path(@gauchada), class: 'btn btn-default btn-xs pull-right' %>
				</p>
		<p> <%= @gauchada.descripcion %> </p>
		<p class="ciudad"> <%= @gauchada.ciudad%> </p>
		<h5 class="text-center">Preguntas:</h5>
		<% questions = @gauchada.questions.all%>
		<% questions.each do |question| %>
		<div class="row">

			<p class="pregrta"><b> <%= question.usuario.nombre %> <%=question.usuario.apellido %></b> <%=question.contenido%> <br>
			<% if question.answer != nil %>
				 <b><%= @gauchada.usuario.nombre %> <%=@gauchada.usuario.apellido %></b> <%=question.answer.contenido%></p>
			<% end %>
		</div>
		<% end %>

	</div>
</div>





