<div class="row">
	<div class= "col-xs-10 offset-xs-1" >
		<!--Card -->
		<div class="card">
			<!--Container-->
		    <div class="container">
		    	
				<!--Card image-->
				<% if @gauchada.imagen != nil %>
			    <div class="col-xs-12 col-sm-4">
				    <div class="view overlay hm-white-slight">
				        <%= cl_image_tag(@gauchada.imagen, :width=>450,  :crop=>"scale", :align=> "center")%>
				        <a href="#">
				            <div class="mask"></div>
				        </a>
				    </div>
			    </div>
				<% end %>
				<!--/.Card image-->

			    <!--Card col-->
			    <% if @gauchada.imagen != nil %>
			    <div class="col-xs-12 col-sm-8">
			    <% else %>
			    <div class="col-xs-12"></div>
			    <% end %>
			    	<!--Card content-->
				    <div class="card-block">
				        <!--Title-->
				        <h4 class="card-title">
				        	<%= link_to @gauchada.titulo, @gauchada %>
				        	<p>
						        <% if can? :destroy, @gauchada %>
						        	<%= link_to @gauchada, class:'btn-floating btn red pull-right', method: :delete do %>
					        			<i class="fa fa-trash"></i>
						        	<% end %>
								<% end %>
								<% if can? :update, @gauchada %>
									<%= link_to edit_gauchada_path(@gauchada) , class:'btn-floating btn blue pull-right' do %>
						        		<i class="fa fa-pencil"></i>
						        	<% end %>
								<% end %>
				        	</p>
				        </h4>
				        <!--Text-->
				        <p class="card-text">
				        	<%= @gauchada.descripcion %>
				        </p>
						<div class="chip">
						    <img src="http://mdbootstrap.com/images/avatars/img%20(3).jpg" alt="Contact Person">
				       		<%= @gauchada.usuario.nombre %>
							<%= @gauchada.usuario.apellido%>
						</div>
				        <p class="card-text text-xs-right font-italic text-muted">
				       		<%= @gauchada.ciudad%>
				       	</p>
				       	<% questions = @gauchada.questions.all%>
				       	<!--Main wrapper-->
						<div class="comments-list">
						    <div class="section-heading text-xs-left pb-1">
						        <h3>Preguntas <span class="tag blue"><%= questions.size %></span></h3>
						    </div>
							<%= render @gauchada.questions %>
						</div>
						<!--/.Main wrapper-->
						<% if @new_request %>
							<%= render :partial => '/questions/form', :locals => {:@question => @new_quest } %>
						<% else %>
							<%= render :partial => '/layouts/no_autorizado', :locals => {:mensaje => 'preguntar' } %>
						<% end %>

				    </div>
		    		<!--/.Card content-->
			    </div>
			    <!--/.Card col-->
		    </div>
		    <!--/.Container -->
	    </div>
	    <!--Card -->
	</div>
</div>





