<p id="notice"><%= notice %></p>

<h2>
  <%= @gauchada.titulo %>
</h2>

<p>
  <strong>Descripcion:</strong>
  <%= @gauchada.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @gauchada.imagen %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @gauchada.ciudad %>
</p>
<p>




<%= link_to 'Edit', edit_gauchada_path(@gauchada) %> |
<%= link_to 'Back', gauchadas_path %>
