<div class="container">
  <div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-8 col-md-8 offset-sm-2 offset-md-2">
      <div class="card">
        <h3 class="card-header primary-color white-text">Postulados</h3>

        <% if @postulados.count > 0 %>
          <%if  Gauchada.find(@postulados.first.gauchada_id).cant_postulantes > 0 %>
            <% @postulados.each do |postulado| %>
              <%if postulado.estado == 'En espera' %>
                <%postulado.estado = 'Rechazado' %>
              <%end%>
            <%end%>
          <%end%>
          <div class="card-block table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Descripción</th>
                  <th>Fecha</th>
                  <th>Decisión</th>
                  <th>Contacto</th>
                </tr>
              </thead>
              <tbody>
                    <% @postulados.each do |postulado| %>
                    <% if postulado.estado == 'Aceptado' %>
                        <tr class="table-success">
                    <% elsif postulado.estado == 'Rechazado' %>
                        <tr class="table-danger">
                    <%else %>
                        <tr>
                    <%end%>
                        <td><%= postulado.usuario.nombre %></td>
                        <td><%= postulado.usuario.apellido %></td>
                        <td><%= postulado.descripcion %></td>
                        <td><%= postulado.fecha.strftime "%d/%m/%Y" %></td>
                        <% if postulado.estado == 'En espera'%>
                            <td class="col-xs-0 align-bottom">
                              <a href="/postulacions/cambiar_estado_aceptado?id=<%=postulado.id%>"
                                class='btn btn-success waves-effect waves-light'
                                onClick="return confirm('¿Desea aceptar a esta persona?');">Aceptar</a>
                              <a href="/postulacions/cambiar_estado_rechazado?id=<%=postulado.id%>"
                                class='btn btn-danger waves-effect waves-light'
                                onClick="return confirm('¿Desea rechazar a esta persona?');">Rechazar</a>
        										</td>
                            <td>
                              Esperando su respuesta...
                            </td>
                        <% else %>
                          <td>
                            Ustede ha <%=postulado.estado%> a esta persona
                          </td>
                            <% if postulado.estado == 'Aceptado' %>
                                <td>
                                <%=  postulado.usuario.email %>
                                </td>
                            <%else %>
                                <td>
                                  No puede acceder a la información
                                </td>
                            <%end%>
                        <% end %>
                      <% end %>
              </tbody>
            </table>
            <%else%>
              <h3> No hay postulados en su Gauchada </h3>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
