<%= form_for @logro do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="md-form">  
          <%= f.text_field :titulo, required:true, class:'form-control' %>
          <%= f.label :titulo,'Título', class:'control-label' %>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-12 mb-1">
      <p class="text-muted font-italic">El nombre del logro.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="md-form">  
          <%= f.number_field :min, required:true, class:'form-control' %>
          <%= f.label :min,'Min', class:'control-label' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="md-form">  
          <%= f.number_field :max, required:true, class:'form-control' %>
          <%= f.label :max,'Max', class:'control-label' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mb-1">
      <p class="text-muted font-italic">La mínima y máxima cantidad de puntos para adquirir el logro.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit value:'Guardar', class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
