<div class="container">
  <div class="row">
    <div class="col-xs-10 offset-xs-1 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
      <div class="jumbotron">
        <!-- Default panel contents -->
        <h1 class="h1-responsive">Logros</h1>
        <hr class="my-2">
        <!-- <div class="panel-body">
          <p>...</p>
        </div> -->

        <!-- Table -->
        <div class="card-block">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Titulo</th>
                <th colspan="2">Puntos</th>
                <th rowspan="2" colspan="3" class="text-xs-right"><%= link_to 'Agregar', new_logro_path, class: 'btn btn-success' %></th>
              </tr>
              <tr>
                <th>Min</th>
                <th>Max</th>
              </tr>
            </thead>

            <tbody>
              <% @logros.each do |logro| %>
                <tr>
                  <td><%= logro.titulo %></td>
                  <td><%= logro.min %></td>
                  <td><%= logro.max %></td>
                  <td class="text-xs-right">
                    <%= link_to logro do %>
                      <i class="fa fa-eye orange-text"></i>
                    <% end %>
                  </td>
                  <td class="text-xs-right">
                    <%= link_to edit_logro_path(logro) do %>
                      <i class="fa fa-pencil blue-text"></i>
                    <% end %>
                  </td>
                  <td class="text-xs-right">
                    <%= link_to logro, method: :delete, data: { confirm: '¿Está seguro de borrar?'} do %>
                      <i class="fa fa-trash red-text"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="card-data text-xs-left pl-1 pb-1">    
            <%= link_to "Volver", :back %>
        </div>
      </div>

    </div>
  </div>

</div>
