<div class="container">
	<!--Search form-->
	<%= form_tag({controller: "gauchadas", action: "index"}, method: "get")	 do %>
    	<div class="row">
    <!-- <form class="form-inline"> -->
    		<div class="col-xs-12 col-sm-6 align-bottom">
				<div class="md-form">
				    <i class="fa fa-search prefix"></i>
				    <% if params[:frase] && params[:frase]!='*' %>
					<input type="text" id="frase-buscar" name="frase" class="form-control" value="<%= params[:frase] %>">
					<% else %>
				    <input type="text" id="frase-buscar" name="frase" class="form-control">
					<% end %>
				    <label for="frase">Buscar</label>
				</div>
    		</div>
    		<div class="col-xs-11 offset-xs-1 offset-sm-0 col-sm-4 align-bottom">
            	<div class="md-form">
				    <select id="ciudad-buscar" name="ciudad" class="form-control browser-default custom-select">
	                    <option value="*" >Ciudad</option>
	                    <% ciudades.each do |c| %>
	                    <% if c==params[:ciudad] %>
	                    <option value="<%= c %>" selected="true"><%= c %></option>
	                    <% else %>
	                    <option value="<%= c %>"><%= c %></option>
	                    <% end %>
	                    <% end %>
	                </select>
            	</div>
    		</div>
    		<div class="col-xs-12 text-xs-center col-sm-2 align-bottom">
    			<button type="submit" class="btn btn-orange">Filtrar</button>
				<!-- <a id="boton-buscar" class="btn btn-orange">Filtrar</a> -->
    		</div>

    	</div>
    <% end %>
    <!-- </form> -->
</div>