<!DOCTYPE html>
<html>
<head>
  <title>gauchada.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <link href="https://fonts.googleapis.com/css?family=Enriqueta:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i" rel="stylesheet"> -->
</head>


<body>


<%= render 'layouts/header' %>
<div class="container py-1">
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
</div>
<section>
<%= yield %>
</section>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	
</body>
</html>
