<!DOCTYPE html>
<html>
<head>
  <title>gauchada.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <link href="https://fonts.googleapis.com/css?family=Enriqueta:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i" rel="stylesheet"> -->
</head>


<body>


<%= render 'layouts/header' %>

<div class="container py-1">
	<% if notice || alert %>
	<div class="row" id="notice">
		<div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-3">
			<button type="button" id="close-notice" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<% if notice %>
			  <blockquote class="blockquote bq-success">
			      <p class="bq-title">Bien!</p>
			      <p><%= notice %></p>
			  </blockquote>
			<% end %>
			<% if alert %>
				<blockquote class="blockquote bq-danger">
				    <p class="bq-title">Ups!</p>
				    <p><%= alert %></p>
				</blockquote>
			<% end %>
		</div>
	</div>
	<% end %>
</div>
<section>
<%= yield %>
</section>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
